* {
    background-color: #222;
    font-family: 'Inter', sans-serif;
}

header {
    color:#ffffff;
}

.img {
    margin-right: 16;
}

.logo {
    font-size: 32px;
    margin-left: 64px;
    margin-top: 32px;
    line-height: 39px;
    font-weight: 700;
    opacity: 0.8;
    width: 127;
    height: 39;
}

.btn-block {
    width: 202px;
    height: 108px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-content: right;
    justify-content: right;
    margin-right: 100px;
    font-style: normal;
}

.buy-now {
 height: 54px;
 position: absolute;
 top: 0;
 right: 0;
 display: flex;
 margin-top: 32px;
 margin-right: 226px;
 text-align: start;
 float: right;
 opacity: 0.88;
 gap: 16px;
 align-items: center;
}

.account {
    height: 54px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin-top: 32px;
    margin-right: 64px;
    flex: none;
    opacity: 0.88;
    float: right;
    text-align: end;
    gap: 16px;
    align-items: center;
   }


.buttons {
    font-weight: 400;
    font-size: 32px;
    line-height: 38.73px;
    text-align: center;
    display: flex;
    align-items: center;
}


.container {
    display: block;
    color: #fff;
    justify-content: center;
    width: 732px;
    height: 227px;
    margin-left: 821px;
    margin-top: 248px;
}

.sub-title {
    color:#F5C90A;
    font-weight: 700px;
    font-size: 88px;
    line-height: 73px;
    margin-top: -50px;
}

.title {
    font-weight: 700px;
    font-size: 60px;
    line-height: 73px;
    display: flex;
    text-align: center;
}

.under-text {
    color: #ffff;
    font-weight: 200px;
    font-size: 60px;
    display: flex;
    margin-left: 821px;
    margin-top: -57.27px;

}

#grad {
    background: linear-gradient(106.65deg, rgba(255, 255, 255, 0.4) -2.73%, rgba(255, 255, 255, 0) 65.25%);
    filter: drop-shadow(0px 4px 32px rgba(34, 34, 34, 0,24));
    backdrop-filter: blur(6px);
    border-radius: 64px;
    position: absolute;
    width: 1792px;
    height: 360px;
    left: 64px;
    right: 64px;
    top: 519px;
    bottom: 201px;
    margin-top: 88px;
    border-radius: 64px;
}

.block-text {
    color: #ffff;
    align-items: flex-start;
    padding: 0px;
    gap: 36px;
    position: absolute;
    width: 884px;
    height: 273px;
    left: 871px;
    
}

.block-title {
    width: 721px;
    height: 44px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color:#ffffff;
    margin-left: 757px;
    background-color: transparent !important;

}